$mobile-breakpoint: 320px; 
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$font-stack: 'BellSlim';

$Bell-Light-Grey: #f4f4f4;
$Bell-Blue: #007aff;
$Bell-DarkBlue: #00549a;
$White: #FFFFFF;
$TeaGreen: #D0FFCE;
$Melon: #F0A7A0;
$Naples: #F4D35E;
$Ash-Gray: #96BBBB;