@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

@mixin manage-avatar-image {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.input-footer {
  width: 100%;
  padding: $padding-mobile;
  background-color: white;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  bottom: 0;
  
  @include tablet {
    padding: $padding-tablet;
  }
  
  @include flex-row;
  justify-content: center;
  &__container {
    max-width: $tablet-breakpoint;
    padding: $padding-mobile;
    padding-bottom: 0;
  }

  @include desktop {
    padding: $padding-desktop;
  }
}

.comments {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;

  @include tablet {
    justify-content: flex-start;
  }

  &__form {
    width: 100%;
  }

  &__comment {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    margin-top: 1rem;

    @include tablet {
      flex-direction: row;
      gap: 1rem;
    }
  }

  &__name-input {
    &::placeholder {
      color: lightgray;
    }
  }
  
  &__input {
    width: 100%;
    flex-grow: 1;
    resize: none;
    padding: 0.5rem;
    border: 0.125rem solid gray;
    border-radius: 0.25rem;
    font-family: inherit;
    color: $Ash-Gray;
    min-height: 2rem;
    height: 2rem;

    @include tablet {
      min-height: 2.5rem;
      height: 2.5rem;
    }

    @include desktop {
      min-height: 3rem;
      height: 3rem;
    }

    &__text {
      display: block;
      max-width: 20rem;
    }
  }

  .input-button-box {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 1rem;

    @include tablet {
      gap: 2rem;
    }

    button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.5rem;
      background-color: $Bell-Blue;
      color: $White;
      cursor: pointer;
      transition: background-color 0.3s;
      margin: 1rem;

      &:hover {
        background-color: #0056b3; // A darker shade of Bell-Blue
      }

      @include tablet {
        padding: 0.75rem 1.5rem;
      }

      @include desktop {
        padding: 1rem 2rem;
      }

      &-img {
        width: 1rem;
        height: 1rem;

        @include tablet {
          width: 1.5rem;
          height: 1.5rem;
        }

        @include desktop {
          width: 2rem;
          height: 2rem;
        }
      }

      &-text {
        font-weight: 700;
        text-align: center;
      }
    }
  }

  &__avatar-image {
    @include manage-avatar-image;
    margin-top: 1rem;

    @include tablet {
      margin-top: 1.5rem;
    }

    @include desktop {
      margin-top: 2rem;
    }
  }
}
