.room-page {
  display: flex;
  flex-direction: column;
  height: 100vh; // Full viewport height

  .title {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    a {
      width: auto;
      color: black;
    }
  }

  .chats {
    flex: 1; // Take up remaining space
    overflow-y: auto;
    padding: 1rem;
    position: relative;
  }
}
