@use "../../styles/partials/mixins" as *;

.chats {
  padding: 1rem;
  max-height: 400px;
  overflow-y: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: initial;
  display: flex;

  > div {
    width: 90%;

    @include desktop {
      width: 80%;
    }

    @include tablet {
      width: 80%;
    }
  }
}

  .title {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

  a {
    width: auto;
    color: black;
  }
}
