@use "./styles/partials/global" as *;

:root {
    --toastify-color-error: red;
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-color-progress-error: var(--toastify-color-error);
}